body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    text-align: center;
  }
  
  .content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 60px;
    margin-bottom: 20px;
  }

  .preto {
    color: #000000; 
  }
  
  .azul {
    color: #38B5D0; 
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    width: 300px; 
    padding: 20px 0;
    font-size: 36px;
    margin: 10px;
    border: none;
    border-radius: 2px;
  }
  
  #meusProjetos {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
    display: block;
    background-color: #B792DD; 
    color: #ffffff; 
  }
  
  #testeCompetencia {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
    display: block;
    background-color: #38B5D0; 
    color: #ffffff;
  }